* text eol=lf
*.cmd text eol=crlf

# we do not own any headers checked in, don't touch them
*.h binary
*.hpp binary
# Exception: headers we own
cuda_bindings/cuda/bindings/_bindings/*.h -binary text diff
cuda_bindings/cuda/bindings/_lib/*.h -binary text diff
cuda_core/cuda/core/_cpp/*.h -binary text diff
cuda_core/cuda/core/_cpp/*.hpp -binary text diff
# git should not convert line endings in PNG files
*.png binary
*.svg binary
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

.git_archival.txt export-subst
