cuda/_version.py export-subst

* text eol=lf

# we do not own any headers checked in, don't touch them
*.h binary
*.hpp binary
# git should not convert line endings in PNG files
*.png binary
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

cuda_core/cuda/core/experimental/_utils/*.h text eol=lf
