* text eol=lf

# we do not own any headers checked in, don't touch them
*.h binary
*.hpp binary
# git should not convert line endings in PNG files
*.png binary
*.svg binary
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

# "export-subst" specifies that this file will get filled in with the current
# commit and tag information when running `git archive`.  This allows
# `setuptools-scm` to correctly determine the version when building from a git
# archive.  See #1609.
.git_archival.txt export-subst
