# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "win-64"]
preview = ["pixi-build"]

[dependencies]
cuda-pathfinder = { path = "." }

[feature.test.dependencies]
pytest = ">=6.2.4"

[feature.cu12.system-requirements]
cuda = "12"

[feature.cu12.dependencies]
cuda-version = ">=12.0,<13"

[feature.cu13.system-requirements]
cuda = "13"

[feature.cu13.dependencies]
cuda-version = ">=13.1,<14"

[environments]
default = { features = ["test"], solve-group = "default" }
cu12 = { features = ["cu12", "test"], solve-group = "cu12" }
cu13 = { features = ["cu13", "test"], solve-group = "cu13" }

# TODO: check if these can be extracted from pyproject.toml
[package]
name = "cuda-pathfinder"
version = "1.3.4a0"

[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.host-dependencies]
python = "*"
setuptools = ">=64"

[package.run-dependencies]
python = "*"

[target.linux.tasks.test]
cmd = ["pytest", "$PIXI_PROJECT_ROOT"]

[target.win-64.tasks.test]
cmd = ["pytest", "%PIXI_PROJECT_ROOT%"]
