# SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "win-64"]
preview = ["pixi-build"]

[workspace.build-variants]
python = ["3.10.*", "3.11.*", "3.12.*", "3.13.*", "3.14.*"]

[dependencies]
cuda-bindings = { path = "." }
libnvjitlink = "*"

[feature.test.dependencies]
pytest = ">=6.2.4"
pytest-benchmark = ">=3.4.1"
pyglet = ">=2.1.9"

[feature.cu13.system-requirements]
cuda = "13"

[feature.cu13.dependencies]
cuda-version = "13.*"

[feature.cu12.system-requirements]
cuda = "12"

[feature.cu12.dependencies]
cuda-version = "12.*"

[environments]
cu13 = { features = ["cu13", "test"], solve-group = "cu13" }
cu12 = { features = ["cu12", "test"], solve-group = "cu12" }

[target.linux-64.activation.env]
CUDA_HOME = "$CONDA_PREFIX/targets/x86_64-linux"

[target.linux-aarch64.activation.env]
CUDA_HOME = "$CONDA_PREFIX/targets/aarch64-linux"

[target.win.activation.env]
CUDA_HOME = '%CONDA_PREFIX%\Library'

[package]
name = "cuda-bindings"
version = "13.0.2"

[package.build]
backend = { name = "pixi-build-python", version = "*" }
config.noarch = false

[package.build-dependencies]
cuda-nvrtc-dev = "*"
cuda-profiler-api = "*"
cuda-nvvm = "*"
ccache = "*"

[package.host-dependencies]
python = "*"
setuptools = ">=77"
cython = ">=3.1,<3.2"
pyclibrary = ">=0.1.7"

[package.run-dependencies]
python = "*"
cuda-pathfinder = ">=1.1,<1.2"

[package.target.linux.build-dependencies]
libcufile-dev = "*"

[package.target.linux-64.build-dependencies]
cuda-crt-dev_linux-64 = "*"

[package.target.linux-aarch64.build-dependencies]
cuda-crt-dev_linux-aarch64 = "*"

[package.target.win-64.build-dependencies]
cuda-crt-dev_win-64 = "*"

[package.build.target.linux-64.config.env]
CXX = "ccache c++"
CC = "ccache cc"
CUDA_HOME = "$BUILD_PREFIX/targets/x86_64-linux"

[package.build.target.linux-aarch64.config.env]
CXX = "ccache c++"
CC = "ccache cc"
CUDA_HOME = "$BUILD_PREFIX/targets/sbsa-linux"

[package.build.target.win-64.config.env]
CUDA_HOME = '%BUILD_PREFIX%\Library'
