# SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

name: "CI: Backport the merged PR"

on:
  pull_request_target:
    types: [closed, labeled]
    branches:
      - main

permissions:
  contents: write       # so it can comment
  pull-requests: write  # so it can create pull requests

jobs:
  backport:
    name: Backport pull request
    if: ${{ github.repository_owner == 'nvidia' &&
            github.event.pull_request.merged == true &&
            contains( github.event.pull_request.labels.*.name, 'to-be-backported')
         }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Load branch name
        id: get-branch
        run: |
          OLD_BRANCH=$(cat .github/BACKPORT_BRANCH)
          echo "OLD_BRANCH=${OLD_BRANCH}" >> $GITHUB_ENV

      - name: Create backport pull requests
        uses: korthout/backport-action@d07416681cab29bf2661702f925f020aaa962997  # v3.4.1
        with:
          copy_assignees: true
          copy_labels_pattern: true
          copy_requested_reviewers: true
          target_branches: ${{ env.OLD_BRANCH }}
