name: Build and test

concurrency:
  group: ${{ startsWith(github.ref_name, 'main') && format('unique-{0}', github.run_id) || format('ci-build-and-test-on-{0}-from-{1}', github.event_name, github.ref_name) }}
  cancel-in-progress: true

on:
  push:
    branches:
      - "pull-request/[0-9]+"
      - "main"

jobs:
  build-and-test:
    name: Build and test (${{ matrix.host-platform }}, ${{ matrix.target-device }}, ${{ matrix.build-mode }})
    strategy:
      fail-fast: false
      matrix:
        host-platform:
          - linux-x64
          #- linux-aarch64
          #- win-x64
        target-device:
          - gpu
        build-mode:
          - release
        upload-enabled:
          - false
        python-version:
          - "3.12"
          #- "3.11"
          #- "3.10"
          #- "3.9"
        cuda-version:
          # Note: this is for build-time only; the test-time matrix needs to be
          # defined separately.
          - "12.6.2"
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      host-platform: ${{ matrix.host-platform }}
      target-device: ${{ matrix.target-device }}
      build-mode: ${{ matrix.build-mode }}
      build-type: ci
      upload-enabled: ${{ matrix.upload-enabled }}
      python-version: ${{ matrix.python-version }}
      cuda-version: ${{ matrix.cuda-version }}
    secrets: inherit
