name: Build

on:
  workflow_call:
    inputs:
      client-repo:
        required: true
        type: string
      target-device:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      build-type:
        required: true
        type: string
        description: One of ci / release
      host-platform:
        required: true
        type: string
      dependencies-file:
        required: true
        type: string
        description: path to versions.json relative to the target repo dir
      build-mode:
        required: true
        type: string
      upload-enabled:
        required: true
        type: boolean
      python-version:
        required: true
        type: string
      cuda-version:
        required: true
        type: string
  outputs:
    has-built:
      value: true  # TODO: we might need to check the job success here
      description: whether the built stage was launched (and passed)

jobs:
  build:
    name: Build (${{ inputs.host-platform }}, ${{ inputs.build-type }}, ${{ inputs.build-mode }}, Python "${{ inputs.python-version }}")

    permissions:
      id-token: write # This is required for configure-aws-credentials
      contents: read  # This is required for actions/checkout

    runs-on: ${{ inputs.runs-on }}

    steps:
      - name: Checkout ${{ inputs.client-repo }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up build environment
        uses: ./.github/actions/setup
        with:
          client-repo: ${{ inputs.client-repo }}
          build-type: ${{ inputs.build-type }}
          target-device: "${{ inputs.target-device }}"
          host-platform: ${{ inputs.host-platform }}
          build-mode: ${{ inputs.build-mode }}
          upload-enabled: ${{ inputs.upload-enabled }}
          python-version: ${{ inputs.python-version }}
          cuda-version: ${{ inputs.cuda-version }}

      - name: Call build action
        uses: ./.github/actions/build
        with:
          build-type: ${{ inputs.build-type }}
          target-device: "${{ inputs.target-device }}"
          host-platform: ${{ inputs.host-platform }}
          upload-enabled: ${{ inputs.upload-enabled }}
